body {
	background-color: #E5E5E5;
}

.mdfilename {
	text-align: center;
	color: black;
}

.mdcontainer {
	border: 1px gray solid;
	border-radius: 10px;
	background-color: white;
	width: 70%;
	margin: auto;
	padding: 2%;
}

.mdcredits {
	text-align: center;
	color: gray;
	font:30px;
}
