 a {
	color: #61AFEF;
}

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
	font-weight: 600;
	color: #E06C75;
}

,
 pre code {
	color: #ABB2BF;
}

 code {
	color: #90C378;
}

 pre:not(.hljs),
 code>div {
	background-color: #2C323C;
}

 table>thead>tr>th {
	border-color: #2C323C;
}

 h1,
 hr,
 table>tbody>tr+tr>td {
	border-color: #2C323C;
}

 blockquote {
	color: #5C6370;
	font-style: italic;
	background: transparent;
	border-color: #2C323C;
}
